@inherits LayoutComponentBase

<shell class="w-full min-h-screen flex flex-col">
    <main class="flex-1 flex items-center justify-center">@Body</main>
</shell>

<IconManager Weight="IconWeight.W300" />