*, *::before, *::after {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.dartboard-dart {
    width: 11px;
    height: 11px;
    background: #FFCC00;
    position: absolute;
    border-radius: 9999px !important;
    z-index: 1000;
    pointer-events: none;
}

.animate-fade-in-from-top {
    animation: fade-in-from-top 0.15s ease-in-out 1;
}

@keyframes fade-in-from-top {
    from {
        opacity: 0;
        transform: translateY(-25%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
