<h1 class="flex flex-row items-center justify-center text-center text-3xl font-bold truncate px-4 pt-6 pb-4 text-white/80">
    <span class="opacity-80 select-none flex items-center justify-center max-w-[100px] overflow-hidden relative w-20 h-20">
        <img src="./icon-192.png" class="absolute" />
    </span>
    <span class="pr-8">@Text</span>
</h1>

@code {
    [Parameter, EditorRequired]
    public string Text { get; set; } = null!;
}
