<div class="fixed left-0 bottom-0 z-50 w-full bg-white/90">
    <div class="w-full max-w-3xl mx-auto flex flex-row items-center justify-center gap-4 p-4">
        @ChildContent
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;
}
