<div class="fixed md:relative md:mt-10 left-0 max-w-3xl mx-auto bottom-0 z-50 w-full bg-primary/90">
    <div class="w-full max-w-3xl mx-auto flex flex-row items-center justify-center gap-4 lg:gap-6 p-4">
        @ChildContent
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;
}
