<div class="pb-[88px] w-full max-w-5xl mx-auto">
    <Title Text="@Title" />
    @ChildContent
</div>
@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter, EditorRequired]
    public string Title { get; set; } = null!;

    [Parameter]
    public bool Visible { get; set; }
}
